<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= value1.companyName%></title>
	<link rel="stylesheet" href="http://localhost:3001/style/bootstrap.min.css">
	<link rel="stylesheet" href="http://localhost:3001/style/main.css" />
	<link rel="shortcut icon" type="imagem/x-icon" href="http://localhost:3001/img/favdol.ico" fill="#007bff" />

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light nav">
			<img src="http://localhost:3001/img/dol.png" class="logo">
			<form class="form-inline my-2 my-lg-0" action="/main" method="POST">
				<input id="input" name="quote" class="form-control mr-sm-2" type="search"
					placeholder="Digite um simbolo de ação" aria-label="Search">
				<button id="botao" class="btn btn-light" type="submit">Pesquisar</button>
			</form>
			</div>
		</nav>
	</header>

	<section class="secao">
		<div class="conteiner">
			<div class="conteudo">
				<label class="text-uppercase negrito"><%= value1.companyName%></label>
			</div>
			<div class="conteudo">
				<label class="negrito">Stock Price: </label> 
				<label class="italico"> $</label>
				<label class="italico"><%= value1.latestPrice%></label>
			</div>
			<div class="conteudo">
				<label class="negrito">Exchange: </label>
				<label class="italico"><%= value1.primaryExchange%></label>
			</div>
			<div class="conteudo">
				<label class="negrito">News: </label>
				<label class="italico"><%= value2[0].headline %></label>
			</div>
		</div>
	</section>
	<script></script>
</body>

</html>